
body{
  background-color: rgb(255, 255, 255);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.link1{
  font-size: xx-large;
  margin-left: 42%;
}

.link2{  
  font-size: xx-large;
  margin-left: 4%;
}
